/output/*

/helios_inputs/*
!/helios_inputs/param.dat
!/helios_inputs/species.dat

/ggchem_inputs/*
!/ggchem_inputs/param.in

/analyze/images/*
/analyze/analyze_habitability.ipynb
/analyze/contributions+opacities.ipynb
/analyze/opacity_contributions.ipynb
/analyze/contributions+opacities_CIAs.ipynb
/analyze/plot_phase-diagram.ipynb

/tests
/chelio_sim/test_*

*.pyc

nohup.out
.filestructure
test_*