/output/*

/helios_inputs/*
!/helios_inputs/param.dat
!/helios_inputs/species.dat

/ggchem_inputs/*
!/ggchem_inputs/param.in

/analyze/images/*
/analyze/analyze_habitability.ipynb
/analyze/contributions+opacities.ipynb
/analyze/opacity_contributions.ipynb
/analyze/test_atmospheric_escape.ipynb
/analyze/test_redoxState.ipynb
/analyze/test_atmodeller_bower+25.ipynb
/analyze/contributions+opacities_CIAs.ipynb
/analyze/plot_phase-diagram.ipynb

*.pyc

nohup.out
.filestructure